@import './assets/scroll-style.css';
@import "tailwindcss";
@source "../node_modules/@ferrucc-io/emoji-picker";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --headerHeight: 50px;
  --mainHeight: calc(100dvh - var(--headerHeight));
  --conversationWidth: 240px;
  --chat-width: calc(100vw - var(--conversationWidth) - 1rem);
  --titleHeight: 50px;
}

@media (max-width: 768px) {
  :root {
    --chat-width: 100vw;
  }
}

@media (min-width: 1096px) {
  :root {
    --chat-width: 800px;
  }
}

body,
#root {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari å’Œ Opera */
}

.ant-bubble-list-container::before,
.ant-bubble-list-container::after {
  display: block;
  content: '';
  height: 5px;
  width: 100%;
}

.ant-conversations > li {
  list-style: none;
}
