* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --headerHeight: 50px;
  --mainHeight: calc(100vh - var(--headerHeight));
  --senderHeight: 65px;
  --bubbleListHeight: calc(var(--mainHeight) - var(--senderHeight));
  --conversationWidth: 200px;
}

body,
#root {
  width: 100%;
  height: 100vh;
}

/* 自定义样式 */
.scroll-hidden {
  /* scrollbar-width: none; */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari 和 Opera */
}


.ant-bubble-list::before,
.ant-bubble-list::after {
  display: block;
  content: '';
  height: 5px;
  width: 100%;
}
