@import './assets/scroll-style.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --headerHeight: 50px;
  --mainHeight: calc(100vh - var(--headerHeight));
  --senderHeight: 115px;
  --bubbleListHeight: calc(var(--mainHeight) - var(--senderHeight));
  --conversationWidth: 200px;
  --chat-width: calc(100vw - var(--conversationWidth));
  --titleLeft: var(--conversationWidth);
  --titleTop: 0px;
  --titleHeight: 50px;
}

@media (max-width: 768px) {
  :root {
    --bubbleListHeight: calc(var(--mainHeight) - var(--senderHeight) - var(--headerHeight));
    --chat-width: 100vw;
    --titleLeft: 0px;
    --titleTop: var(--headerHeight);
  }
}

@media (min-width: 1096px) {
  :root {
    --chat-width: 56rem;
  }
}

body,
#root {
  width: 100%;
  height: 100vh;
}

/* 自定义样式 */
.scroll-hidden {
  /* scrollbar-width: none; */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari 和 Opera */
}

.ant-bubble-list::before,
.ant-bubble-list::after {
  display: block;
  content: '';
  height: 5px;
  width: 100%;
}
